.machine{
  padding: 0 0  140px ;
  background: #14110E;
  &__content{
    width: 100%;
    padding: 85px 80px 86px 169px;
    background: #1C1814;
    display: flex;
    column-gap: 160px;
  }
  &__box{
    &-title{
      font-family: Righteous,sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 130%;
      color: #FFFFFF;
    }
    &-subtitle{
      font-family: Urbanist,sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 180%;
      text-transform: capitalize;
      color: rgba(255, 255, 255, 0.8);
      opacity: 0.8;
      padding: 36px 0;

    }
  }
  &__btn{
    width: 215px;
    height: 62px;
    font-family: Inter,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #C99E71;
    border: none;
    cursor: pointer;
  }
}